<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8">
            <div class="alert alert-warning d-flex align-items-center border border-warning p-3">
                <i class="bi bi-exclamation-circle fs-2 me-3"></i>
                <p class="fw-bold mb-0">
                    Xin lỗi, bạn không có quyền truy cập vào trang này.<br />
                    Hãy liên hệ với quản trị viên để được cấp phép.
                </p>
                <!--<a asp-controller="Home" asp-action="Index" class="btn btn-primary me-2">Về trang chủ</a> -->
            </div>
        </div>
    </div>
</div>