@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tuấn Shop - Đăng nhập Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="~/lib/overlay-scrollbars/overlayscrollbars.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="login-page bg-body-secondary">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Tuấn</b> Shop</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Đăng nhập</p>
                <form action="~/Account/Login" method="post" novalidate>
                    <div class="input-group mb-3">
                        <input type="email" name="username" value="@ViewBag.UserName"
                            class="form-control" placeholder="Email" autofocus />
                        <div class="input-group-text"><span class="bi bi-envelope"></span></div>
                    </div>
                    <div>
                        @Html.ValidationMessage("username", null, new { @class = "text-danger" })
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password"
                            class="form-control" placeholder="Password" />
                        <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            @Html.ValidationMessage("Error", new { @class="text-danger" })
                        </div>
                    </div>

                    <div class="row">                        
                        <div class="col-12">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                            </div>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    <!-- /.login-box -->

    <script src="~/lib/overlay-scrollbars/overlayscrollbars.browser.es6.min.js"></script>
    <script src="~/lib/popperjs/popper.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/lib/adminlte/js/adminlte.js"></script>

</body>

</html>